* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --primary-color: #4bbed8;
  --primary-color-darker: #41a8bf;
  --light: #ffffff;
  --light-darker: #f9f9f9;
  --danger: #f80707;
  --danger-darker: #e40303;
  --shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
  --primary-border: 1px solid var(--primary-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
